<!--START BREADCRUMB-->
<div id="breadcrumb" class="desktop">
	<a href="/">Home</a> &mdash; <a href="/collections" class="active">Collections List</a>
</div>
<!--END BREADCRUMB-->
<h1>Collections</h1>
<!--START COLLECTION GRID-->
<section class="product-grid twelve columns alpha omega">
	{% for collection in collections %}
	  {% include 'collection-grid-item' %}
	{% endfor %}
</section>
<!--END COLLECTION GRID-->